/* Bitter Font */

@font-face {
  font-family: "Bitter";
  src: url("../fonts/Bitter Font/Bitter-Regular.ttf");
}

@font-face {
  font-family: "Bitter";
  src: url("../fonts/Bitter Font/Bitter-Bold.ttf");
  font-weight: bold;
}

@font-face {
  font-family: "Bitter";
  src: url("../fonts/Bitter Font/Bitter-Italic.ttf");
  font-weight: italic;
}

/* Quicksand Font */

@font-face {
  font-family: "Quicksand";
  src: url("../fonts/Quicksand Font/Quicksand-Bold.ttf");
  font-weight: bold;
}

@font-face {
  font-family: "Quicksand";
  src: url("../fonts/Quicksand Font/Quicksand-Light.ttf");
  font-weight: lighter;
}

@font-face {
  font-family: "Quicksand";
  src: url("../fonts/Quicksand Font/Quicksand-Regular.ttf");
}
