@font-face {
  font-family: 'icomoon';
  src:  url('../icons/icomoon.eot?5v020t');
  src:  url('../icons/icomoon.eot?5v020t#iefix') format('embedded-opentype'),
    url('../icons/icomoon.ttf?5v020t') format('truetype'),
    url('../icons/icomoon.woff?5v020t') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-node:before {
  content: "\e90f";
  color: #8cc84b;
}
.icon-angular .path1:before {
  content: "\e910";
  color: rgb(221, 0, 49);
}
.icon-angular .path2:before {
  content: "\e911";
  margin-left: -1em;
  color: rgb(195, 0, 47);
}
.icon-angular .path3:before {
  content: "\e912";
  margin-left: -1em;
  color: rgb(255, 255, 255);
}
.icon-c .path1:before {
  content: "\e913";
  color: rgb(169, 185, 203);
}
.icon-c .path2:before {
  content: "\e914";
  margin-left: -0.888671875em;
  color: rgb(127, 139, 153);
}
.icon-c .path3:before {
  content: "\e915";
  margin-left: -0.888671875em;
  color: rgb(255, 255, 255);
}
.icon-c1 .path1:before {
  content: "\e916";
  color: rgb(0, 89, 156);
}
.icon-c1 .path2:before {
  content: "\e917";
  margin-left: -0.888671875em;
  color: rgb(0, 68, 130);
}
.icon-c1 .path3:before {
  content: "\e918";
  margin-left: -0.888671875em;
  color: rgb(101, 154, 210);
}
.icon-c1 .path4:before {
  content: "\e919";
  margin-left: -0.888671875em;
  color: rgb(255, 255, 255);
}
.icon-c1 .path5:before {
  content: "\e91a";
  margin-left: -0.888671875em;
  color: rgb(255, 255, 255);
}
.icon-c1 .path6:before {
  content: "\e91b";
  margin-left: -0.888671875em;
  color: rgb(255, 255, 255);
}
.icon-java .path1:before {
  content: "\e91c";
  color: rgb(219, 56, 14);
}
.icon-java .path2:before {
  content: "\e91d";
  margin-left: -1em;
  color: rgb(219, 56, 14);
}
.icon-java .path3:before {
  content: "\e91e";
  margin-left: -1em;
  color: rgb(115, 161, 251);
}
.icon-java .path4:before {
  content: "\e920";
  margin-left: -1em;
  color: rgb(115, 161, 251);
}
.icon-java .path5:before {
  content: "\e921";
  margin-left: -1em;
  color: rgb(115, 161, 251);
}
.icon-java .path6:before {
  content: "\e922";
  margin-left: -1em;
  color: rgb(115, 161, 251);
}
.icon-java .path7:before {
  content: "\e923";
  margin-left: -1em;
  color: rgb(115, 161, 251);
}
.icon-java .path8:before {
  content: "\e928";
  margin-left: -1em;
  color: rgb(115, 161, 251);
}
.icon-javascript .path1:before {
  content: "\e929";
  color: rgb(247, 223, 30);
}
.icon-javascript .path2:before {
  content: "\e92a";
  margin-left: -1em;
  color: rgb(0, 0, 0);
}
.icon-python:before {
  content: "\e92b";
}
.icon-react:before {
  content: "\e92d";
  color: #61dafb;
}
.icon-vue .path1:before {
  content: "\e92e";
  color: rgb(65, 184, 131);
}
.icon-vue .path2:before {
  content: "\e937";
  margin-left: -1.154296875em;
  color: rgb(52, 73, 94);
}
.icon-question-mark:before {
  content: "\e90c";
}
.icon-contact:before {
  content: "\e908";
}
.icon-flask:before {
  content: "\e909";
}
.icon-portfolio:before {
  content: "\e90b";
}
.icon-back:before {
  content: "\e900";
}
.icon-download-arrow:before {
  content: "\e901";
}
.icon-external-link:before {
  content: "\e902";
}
.icon-github-logo:before {
  content: "\e903";
}
.icon-link:before {
  content: "\e904";
}
.icon-home:before {
  content: "\e905";
}
.icon-home2:before {
  content: "\e906";
}
.icon-home3:before {
  content: "\e907";
}
.icon-eyedropper:before {
  content: "\e90a";
}
.icon-image:before {
  content: "\e90d";
}
.icon-images:before {
  content: "\e90e";
}
.icon-book:before {
  content: "\e91f";
}
.icon-file-empty:before {
  content: "\e924";
}
.icon-files-empty:before {
  content: "\e925";
}
.icon-file-text2:before {
  content: "\e926";
}
.icon-file-picture:before {
  content: "\e927";
}
.icon-copy:before {
  content: "\e92c";
}
.icon-folder:before {
  content: "\e92f";
}
.icon-folder-open:before {
  content: "\e930";
}
.icon-folder-plus:before {
  content: "\e931";
}
.icon-folder-minus:before {
  content: "\e932";
}
.icon-folder-download:before {
  content: "\e933";
}
.icon-folder-upload:before {
  content: "\e934";
}
.icon-price-tag:before {
  content: "\e935";
}
.icon-price-tags:before {
  content: "\e936";
}
.icon-database:before {
  content: "\e964";
}
.icon-search:before {
  content: "\e986";
}
.icon-zoom-in:before {
  content: "\e987";
}
.icon-zoom-out:before {
  content: "\e988";
}
.icon-enlarge:before {
  content: "\e989";
}
.icon-enlarge2:before {
  content: "\e98b";
}
.icon-shrink2:before {
  content: "\e98c";
}
.icon-lock:before {
  content: "\e98f";
}
.icon-equalizer:before {
  content: "\e992";
}
.icon-cog:before {
  content: "\e994";
}
.icon-list2:before {
  content: "\e9bb";
}
.icon-menu:before {
  content: "\e9bd";
}
.icon-menu2:before {
  content: "\e9be";
}
.icon-menu3:before {
  content: "\e9bf";
}
.icon-menu4:before {
  content: "\e9c0";
}
.icon-attachment:before {
  content: "\e9cd";
}
.icon-blocked:before {
  content: "\ea0e";
}
.icon-cross:before {
  content: "\ea0f";
}
.icon-checkbox-checked:before {
  content: "\ea52";
}
.icon-checkbox-unchecked:before {
  content: "\ea53";
}
.icon-radio-unchecked:before {
  content: "\ea56";
}
.icon-embed:before {
  content: "\ea7f";
}
.icon-embed2:before {
  content: "\ea80";
}
.icon-terminal:before {
  content: "\ea81";
}
